#create-lamb {
  width: 100%;
  background-color: black;
  color: white;
}

#lamb-holder {
  margin-top: 50px;
  text-align: center;
}

.lambs {
  background-color: black;
  color: white;
  padding: 5px;
}
